* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(159, 162, 164);
}

.simulator_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.multimeter {
    position: relative;
}

.knob_container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 72%;
    left: 38.5%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    left: 25%;
    top: 25%;
    transform-origin: center center;
    z-index: 1;
    border-radius: 50%;
    transform: rotate(104deg);
}

.circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #393A3E;
    box-shadow: inset 0 0 30px 20px #272626;
    filter: drop-shadow(0 0 10px #393A3E);
    z-index: 2;
}

.line {
    width: 5px;
    height: 40px;
    position: absolute;
    top: 5%;
    left: 40%;
    background-color: #827f7f;
}

.knob_handle {
    width: 20px;
    height: 100%;
    position: absolute;
    background-color: #050505;
    top: 50%;
    left: 50%;
    border-radius: 10%;
    transform: translate(-50%, -50%);
}

#btns {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 620px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 30%;
    z-index: 2;
    
}

.up {
    left: 40%;
}

.down {
    left: 60%;
}

.multimeasurements {
    position: absolute;
    top: 180px;
    left: 255px;
    transform: translate(-50%, -50%);
}

.multimeasurements img {
    width: 320px;
    height: 250px;
    border-radius: 0 0 35% 0;
}

.needle_handler {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #393A3E;
    box-shadow: inset 0 0 30px 20px #272626;
    filter: drop-shadow(0 0 10px #393A3E);
    border-radius: 50%;
    top: 295px;
    right: 329px;
    transform: translate(-50%, -50%) rotate(49deg);
    z-index: 1;
    animation: rotation 8s ease-in-out infinite;
}

.needle {
    height: 2px;
    width: 210px;
    position: absolute;
    background-color: red;
    right: -100px;
    bottom: 5px;
    transform: translate(-50%, -50%);
}

@keyframes rotation {
    0% {
        transform: translate(-50%, -50%) rotate(49deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(131deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(49deg);
    }
}

.anti_values {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: #817f7f;
    padding: 20px;
    border-radius: 10%;
}

.textbox {
    width: 230px;
    height: 30px;
    font-size: 20px;
    position: relative;
    left: 80px;
    padding: 5px;
}

.values_details {
    display: flex;
    flex-direction: row;
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin-left: 2em;
    left: 50px;
}

.dropdown * {
    box-sizing: border-box;
}

.selection {
    background: #393A3E;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0.5em;
    transition: background 0.3s;
}

.selection:hover {
    background: #6e6b6b;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.label_choices {
    list-style: none;
    padding: 0.2em ;
    background: #b6b5b5;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    position: absolute;
    left: 21%;
    width: 100px;
    transform: translate(-50%);
    opacity: 0;
    transition: 0.2s;
    z-index: 1;
}

.label_choices li {
    border-radius: 0.5em;
    cursor: pointer;
}

menu li:hover {
    background:#393A3E;
}

.menu-open {
    display: block;
}


h1 {
    padding: 10px;
    text-align: center;
}

.fsd_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    background-color: #817f7f;
    padding: 20px;
    border-radius: 10%;
}

.fsd_details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto-fill;
    padding: 20px;
    width: 100%;
}

.label {
    text-align: center;
    background-color: #6e6b6b;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.value {
    text-align: center;
    text-align: center;
    font-weight: bold;
    padding: 20px 20px 0 20px;
}

.fsd_table > p {
    color: white;
    font-style: italic;
    font-size: 12px;
}